.ui-litenav-active {
  display: block !important;
}
.ui-litenav .ui-litenav-control {
  display: none;
}
.ui-litenav ul {
  list-style-type: none;
}
.ui-litenav ul li {
  float: left;
}
@media screen and (max-width: 767px) {
  .ui-litenav .ui-litenav-control {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
  }
  .ui-litenav .ui-litenav-target {
    display: none;
  }
  .ui-litenav ul {
    position: absolute;
    top: 45px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 999;
  }
  .ui-litenav ul li {
    float: none;
  }
}
